<div class="header">
</div>

<div class="main">

  <img src="../assets/img/burger.png" alt="Some random burger image"/>

  <h1 data-text="Eat-Da-Burger!">Eat-Da-Burger!</h1>
</div>

<div class="split_view">

  <div class="left_side">
  {{#each burgers}}
    {{#unless this.devoured}}
    <div class="burger">
      <div class="order">
        {{this.burger_name}}
      </div>
      <div>
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit" class="devour">
            Devour it!
          </button>
        </form>
      </div>
    </div>
    {{/unless}}
  {{/each}}
  </div>

  <div class="right_side">
  {{#each burgers}}
    {{#if this.devoured}}
    <div class="devoured-burgers">
      <div class="order">
        {{this.id}}
        {{this.burger_name}}
          <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="false">
            <button type="submit" class="order-again">
              Create it!
            </button>
          </form>
      </div>
    </div>
    {{/if}}
  {{/each}}
  </div>
</div>

<div class="main">
  <form class="create-update-form" action="/" method="POST">
    <div class="form-group">
      <input type="text" id="ca" name="name" placeholder="Your next creation" required/>
    </div>
    <button type="submit" id="order">
      Create Burger
    </button>
  </form>
      <p>Submit the name of your next burger!</p>
   <div class="line"></div>
</div>